body{
    margin:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#6e6a8e,#b59fb0);
    font-family:Arial, sans-serif;
}

.calculator{
    background:#1e1e1e;
    padding:20px;
    border-radius:20px;
    box-shadow:0 15px 30px rgba(0,0,0,0.4);
    width:320px;
}

.display{
    width:100%;
    height:70px;
    background:black;
    border:none;
    border-radius:15px;
    margin-bottom:20px;
    text-align:right;
    font-size:35px;
    color:#00ff99;
    padding:10px;
    box-sizing:border-box;
}

.buttons{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:15px;
}

button{
    height:60px;
    border:none;
    border-radius:12px;
    font-size:20px;
    background:#2d2d2d;
    color:white;
    cursor:pointer;
    transition:0.2s;
}

button:hover{
    background:#3d3d3d;
}

.equal{
    background:#ff9800;
}

.equal:hover{
    background:#e68900;
}

.zero{
    grid-column:span 2;
}
